body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

